#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
config/evernote.auth.yml
config/twitter.auth.yml
config/twitter.auth.test.yml
config/bitly.auth.yml
sandbox/
tweetstream*
config/mongolab.yml
config/mongolab.test.yml
